div .form{
    &-control{
       input{
        padding: $spacing_xs $spacing_sm;
        border: 1px solid $form;
        border-radius: $border_radius_xs;
        color: $dark;
        font-size: 1rem;
        line-height: normal;
        text-align: left;
        min-height: 30px;
       }
       &-search{
        background-color: $hover;
        border-radius: $border_radius_xs;
        padding:  4px 0;
       }
      
       
    }
}