div .overbilling{
    padding-top: $spacing_md;
    &-header{
        background-color: $hover;
        padding: $spacing_sm;
        color: $dark;
        border-radius: $border_radius_xsm;
        margin-top: $spacing_md;
        &-image{
            width: 60px;
        }
    }
}