.sidebar{
    &-list{
        background-color: $secondary;
        height: 100%;
        &-item{
            color: $white;
            position: relative;
            div:first-child{
                &:after {
                    content: "";
                    width: 6px;
                    height: 100%;
                    background-color: $white;
                    position: absolute;
                    left: -100%;
                    top: 0;
                    border-radius: 0 $border_radius_xs;
                    transition: $ease_05;
                }
                &:hover, &:active{
                    background-color: $primary;
                    &:after {
                        left: 0;
                    }

                }
            }
        }
        &-icon{
            svg{
                color: $white;
            }
        }
    }
}