div .sidebar {
    > div{
        border-right:  1px solid #eee;
    }
    &-list {
        background-color: $white;
        height: 100%;
        
        &-item {
            color: $list;
            position: relative;
            @include flex_center;
            margin-bottom: 5px;
            font-family: $main-font;
            &-icon {
                min-width: 0;
                margin-right:  $spacing_s;
            }

            &:hover {
                background-color: $hover;
                color: $hover_color;
                border-radius: $border_radius_xs;

                .sidebar-list-item-icon {
                    color: $hover_color;
                }
            }
            &:active{
                background-color: $primary;
                border-radius: $border_radius_xs;
                color: $white;
            }
        }
    }
}
