.signup {
   overflow: hidden;
  @media (max-width: 1024px) {
    overflow: auto;
  }

  &-img {
    max-width: 100%;
    height: 100vh;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &-content {
    max-width: 500px;
    width: 100%;
    text-align: center;
    @include flex_center;

    @media (max-width: 1024px) {
      margin: 0 $spacing_xmd !important;
    }

    &-item {
      width: 100%;
      margin: $spacing_md;

      @media (max-width: 1024px) {
        margin: 0;
      }
    }

    &-top {
      .logo {
        width: 100px;
      }
    }

    &-form {
      margin-top: $spacing_md;
    }
  }
}
