/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  /* background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );

  background-color: #C484F3; */
  background-color: #a62230;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow sidebar content to be scrollable if it exceeds the height */
  
}

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    position: static;
    margin-bottom: 30px;
  }

.sidebar-list {
  padding: 20px 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  /* background-color: rgb(249, 240, 240); */
  background-color: rgba(248, 225, 225, 0.253);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  /* color: black; */
  color: #ffffff;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
  color: #ffffff;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
