/* --- Shade Color --- */
/*--- Other Color --- */
div .text-accent {
  color: #ff871f;
}
div .text-secondary {
  color: #183d72;
}
div .text-primary {
  color: #5785D0;
}
div .text-dark {
  color: #3A3541;
}
div .text-success {
  color: #00A15D;
}
div .text-white {
  color: #fff;
}

div .bg-success {
  background-color: #00A15D;
}
div .bg-accent {
  background-color: #ff871f;
}
div .bg-primary {
  background-color: #5785D0;
}
div .bg-info {
  background-color: #ecf2ff;
}

/* --- Transition Ease --- */
/* --- Border Radius --- */
/* --- Spacing --- */
/* --- Mixin --- */
/* --- Flex Center --- */
/* --- Flex Justify Center --- */
/* --- Flex Align Center --- */
/* --- Flex Align End --- */
/* --- Flex Direction Column --- */
/* --- Body Style --- */
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.MuiTypography-root {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #3A3541;
  margin: 0;
  padding: 0;
}

/* --- Font Weight --- */
b {
  font-weight: bold;
}

/* --- Anchor Styles --- */
a {
  text-decoration: none;
}

/* --- List Style --- */
ul.list {
  /* --- List None Style --- */
}
ul.list-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* -- Title Style --- */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 50%;
  }
}

h2 {
  font-size: 3rem;
}
@media (max-width: 991px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.4rem;
}
h3.title {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media (max-width: 991px) {
  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2rem;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  h5 {
    font-size: 1.3rem;
  }
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 400;
}
@media (max-width: 767px) {
  h6 {
    font-size: 1.1rem;
  }
}

/* --- Section Space --- */
.space-sec {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .space-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .space-sec {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.space-top-btn {
  margin-top: 50px;
}

/* --- Spacing ---*/
.ps-0 {
  padding-left: 0 !important;
}

@media (max-width: 1024px) {
  .pe-md-0 {
    padding-right: 0 !important;
  }
}
.pe-3 {
  padding-right: 1rem;
}

.ps-5 {
  padding-left: 37px;
}

.mt-1 {
  margin-top: 8px;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

div .pb-0:last-child {
  padding: 16px !important;
}

.me-3 {
  margin-right: 1rem;
}

/* --- Text Style --- */
.text-end {
  text-align: end;
}

/*--- Field Set --- */
fieldset {
  border: none !important;
}

/* --- Logo --- */
/* --- Icons --- */
svg.icons {
  font-size: 16px;
}

.form-select svg.MuiSelect-iconOutlined {
  color: #fff !important;
}

/*--- Breadcrumb --- */
.breadcrumb ol li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.breadcrumb ol li a.active {
  color: #5785D0;
}

.signup {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .signup {
    overflow: auto;
  }
}
.signup-img {
  max-width: 100%;
  height: 100vh;
}
.signup-img img {
  max-width: 100%;
  height: 100%;
}
.signup-content {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .signup-content {
    margin: 0 24px !important;
  }
}
.signup-content-item {
  width: 100%;
  margin: 30px;
}
@media (max-width: 1024px) {
  .signup-content-item {
    margin: 0;
  }
}
.signup-content-form {
  margin-top: 30px;
}

div .btn {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
}
div .btn-primary {
  background-color: #183d72;
  border: 1px solid #183d72;
  border-radius: 4px;
  color: #fff;
}
div .btn-primary:hover, div .btn-primary:focus, div .btn-primary:active {
  color: #fff;
  background-color: #5785D0;
  border: 1px solid #5785D0;
  box-shadow: none;
}
div .btn-info {
  background-color: #fff;
  border: 1px solid #DDDDDD;
  color: #89868D;
  border-radius: 4px;
}
div .btn-info img {
  width: 20px;
}
div .btn-info:hover, div .btn-info:focus, div .btn-info:active {
  color: #5785D0;
  border: 1px solid #5785D0;
  box-shadow: none;
}
div .btn-sm {
  padding: 4px 6px;
  font-size: 8px;
  background-color: #5785D0;
  border: 1px solid #5785D0;
  border-radius: 4px;
  text-transform: capitalize;
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
div .btn-sm svg {
  font-size: 13px;
}
div .btn-sm:hover {
  color: #3A3541;
}

div .form-control input {
  padding: 10px 20px;
  border: 1px solid rgba(176, 186, 195, 0.4);
  border-radius: 4px;
  color: #3A3541;
  font-size: 1rem;
  line-height: normal;
  text-align: left;
  min-height: 30px;
}
div .form-control-search {
  background-color: #ecf2ff;
  border-radius: 4px;
  padding: 4px 0;
}

.main-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.main-content {
  display: flex;
  flex-grow: 1;
  padding-bottom: 60px;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  background-color: transparent;
}

div .content-container {
  margin-top: 0;
}

div .sidebar > div {
  border-right: 1px solid #eee;
}
div .sidebar-list {
  background-color: #fff;
  height: 100%;
}
div .sidebar-list-item {
  color: #2a3547;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
div .sidebar-list-item-icon {
  min-width: 0;
  margin-right: 15px;
}
div .sidebar-list-item:hover {
  background-color: #ecf2ff;
  color: #5d87ff;
  border-radius: 4px;
}
div .sidebar-list-item:hover .sidebar-list-item-icon {
  color: #5d87ff;
}
div .sidebar-list-item:active {
  background-color: #5785D0;
  border-radius: 4px;
  color: #fff;
}

header.header {
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
header.header svg {
  color: #3A3541;
}

div .overbilling {
  padding-top: 30px;
}
div .overbilling-header {
  background-color: #ecf2ff;
  padding: 20px;
  color: #3A3541;
  border-radius: 10px;
  margin-top: 30px;
}
div .overbilling-header-image {
  width: 60px;
}

div .card {
  position: relative;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 100%;
  min-height: 100%;
}
div .card-content {
  position: relative;
}
div .card-img {
  width: 100px;
  position: absolute;
  bottom: -75px;
  right: 16px;
}
div .card-text, div .card-header {
  font-size: 16px;
  font-weight: 600;
}

.card table {
  margin-top: 20px;
}
.card table thead {
  border-radius: 4px;
}
.card table thead th {
  padding: 8px;
  font-weight: 600;
}
.card table tbody tr td {
  font-weight: 600;
}
.card table tbody tr:nth-child(1) td:first-child {
  color: #00A15D;
}
.card table tbody tr:nth-child(2) td:first-child {
  color: #183d72;
}
.card table tbody tr:nth-child(3) td:first-child {
  color: #ff871f;
}
.card table tbody tr:nth-child(4) td:first-child {
  color: #FFAB00;
}
.card table tbody tr:nth-child(even) {
  border: 1px solid #ecf2ff;
}

/*# sourceMappingURL=style.css.map */
