.App{
    width: 100%;
    min-height: 2250px;
    /* background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  ); */
  /* background-color: #C484F3; */
  background-color: #ffffff;
  margin-top: -60px;
  
}